:root {
  --url-home-page-cover: url("https://irvanahmadprasetya.github.io/img/bg-content-full-1.jpg")
}
.custom-navbar{
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
}
.navbar-nav .nav-link{
  padding: 16px 0px;
}
.content-full, .content-full-cover{
  margin: 0px;
  border-radius: 0;
}
.content-full-cover{
  height: 100vh;
  background: var(--url-home-page-cover);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-position: bottom;
  color: #fff;
  text-shadow: 3px 3px 3px rgba(0,0,0,.4);
  text-align: center;
}
.content-full-cover h1{
  font-size: 45px;
  font-weight: 400;
}
.photo-profile{
  max-width: 225px;
  margin: 25px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .content-full{
    height: calc(100vh - 40px);
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .content-full{
    height: calc(100vh - 56px);
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}